<div>
  <img
    [src]="fullAddress"
    *ngFor="let address of [fullAddress]"
    [@fadeIn]
    class="image__center"
  />
  <div class="extra__margin">
    <div class="center__content">
      <div class="left__button--container">
        <ui5-button
          icon="initiative"
          design="Transparent"
          class="button__container rotate"
          (click)="previousPic()"
        ></ui5-button>
      </div>
      <div class="middle__circles">
        <span *ngFor="let circleIndex of circleArr">
          <span [ngClass]="getCircle(circleIndex)"></span>
        </span>
      </div>
      <div class="right__button--container">
        <ui5-button
          icon="initiative"
          design="Transparent"
          class="button__container"
          (click)="nextPic()"
        ></ui5-button>
      </div>
    </div>
  </div>
</div>
