@import "node_modules/@fundamental-styles/common-css/dist/sass/common-mixins";

.title {
    @include sap-set-padding-top(2rem);
    @include sap-set-padding-bottom(0.5rem);
    @include sap-set-padding-x(3rem, 0);
    background-color: var(--_ui5_tc_header_background);

    @include sap-media-range-width(600px, 1440px) {
        @include sap-set-padding-x(2rem, 0);
    }

    @include sap-media-sm() {
        @include sap-set-padding-x(1rem, 0);
    }
}

.logo {
    width: 64px;
    height: 32px
}

.dialog__footer {
    @include sap-display(flex);
    @include sap-flex-align-items(center);
    @include sap-flex-justify(end);
    width: 100%;
    box-sizing: border-box;
}

.dialog__footer__button {
    @include sap-margin(tiny, begin);
}


.leftbox{
    text-align: center;
    float:left;
    top: 10%;
    left: 5%;
    position:absolute;
    width: 15%;
    height: 70%;
    background: rgb(43, 136, 180);
    box-shadow: 2px 5px 20px
    rgba(119,119,119,.5);

}

.rightbox{
    width: 60%;
    margin-left: 25%;
}

.user__contents{
    list-style-type: none;

    li{
        margin-bottom: 24 px;
    }

    .user__item{
    font-size: 20px;
    padding: 0;
    margin-right: 0;
   
    &__title{ 
    font-size: 25px;
    background: linear-gradient(to right,rgba(128, 128, 128, 0.753) 0%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
    text-transform: uppercase;
    }
}
  
}
.user__title {
    background: linear-gradient(to right,rgb(16, 140, 182) 0%,rgba(128, 128, 128, 0.753) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.edit__name__section{
    margin-top: 40px;
    display: flex;
    justify-content: space-between ;
}


