<ui5-list separators="None" class="full-width extra__margin" style=" pointer-events: none;">
    <ui5-li icon="message-success"
      >{{ numberOfPersonalItems }}
      x
      {{ ("PERSONAL" | ui5I18n) + " " + ("BAGGAGE" | ui5I18n) }}</ui5-li
    >
    <ui5-li icon="message-success"
      >{{ numberOfCarryOnItems }}
      x
      {{ ("CARRY_ON" | ui5I18n) + " " + ("ITEM" | ui5I18n) }}</ui5-li
    >
    <ui5-li icon="error"
      >{{ numberOfCheckdItems }}
      x
      {{ ("CHECKED" | ui5I18n) + " " + ("ITEM" | ui5I18n) }}
    </ui5-li>
  </ui5-list>
  <ui5-bar design="Footer" class="button__footer">
    <ui5-button
      design="Emphasized"
      slot="endContent"
      (ui5Click)="onUpgradeClick()"
      >{{ "UPGRADE" | ui5I18n }}
    </ui5-button>
  </ui5-bar>
  
  <app-upgrade-baggage
    [isUpgradeBaggageOpen]="isBaggageUpgradeOpen"
    [numberOfPersonalItem]="numberOfPersonalItems"
    [numberOfCarryOnItem]="numberOfCarryOnItems"
    [numberOfCheckedInBaggage]="numberOfCheckdItems"
    (onUpgradeBaggageOpenChange)="onUpgradeBaggageOpenChange($event)"
    (onQuantityChange)="onQuantityChange($event)"
  ></app-upgrade-baggage>