@if (isDataAvailable) {
  <section class="your-seats-card-content">
    <div class="your-seats-card-content-layout">
      <!-- Row labels -->
      <div class="your-seats-card-content-layout__column">
        <div class="your-seats-card-content-layout__row"><ui5-label style="visibility:hidden;">A</ui5-label>
      </div>
      @for (item of [].constructor(rows); track item; let i = $index) {
        <ui5-label
        class="your-seats-card-content-layout__row">{{i+1}}</ui5-label>
      }
    </div>
    @for (column of columns; track column; let columnNumber = $index) {
      <div
        class="your-seats-card-content-layout__column your-seats-card-content-layout__column--wide">
        <!-- Column labels -->
        <div class="your-seats-card-content-layout__row">
          @for (item of [].constructor(column); track item; let columnIndex = $index) {
            <div>
              <ui5-label>
                {{chars[columnIndex+columnLabelIndex[columnNumber]]}}
              </ui5-label>
            </div>
          }
        </div>
        @for (item of [].constructor(rows); track item; let rowIndex = $index) {
          <div
            class="your-seats-card-content-layout__row">
            @for (item of [].constructor(column); track item; let columnIndex = $index) {
              <div>
                <!-- Circle icons for seats -->
                <ui5-icon
                  [class]="checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], availableSeats)? 'seat--available' : checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], yourSeats) ? 'seat--yours' : ''"
                [name]="checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], availableSeats)? 'circle-task' : checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], yourSeats) ? 'sys-enter-2' : 'circle-task-2'"></ui5-icon>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
  @for (legendItem of legendItems; track legendItem) {
    <div>
      <app-legend-item [icon]="legendItem.icon" [color]="legendItem.color" [text]="legendItem.text"></app-legend-item>
    </div>
  }
</section>
}