<section class="your-seats-card-content" *ngIf="isDataAvailable">
    <div class="your-seats-card-content-layout">
        <!-- Row labels -->
        <div class="your-seats-card-content-layout__column">
            <div class="your-seats-card-content-layout__row"><ui5-label style="visibility:hidden;">A</ui5-label>
            </div>
            <ui5-label *ngFor="let item of [].constructor(rows); let i = index"
                class="your-seats-card-content-layout__row">{{i+1}}</ui5-label>
        </div>

        <div *ngFor="let column of columns; let columnNumber = index"
            class="your-seats-card-content-layout__column your-seats-card-content-layout__column--wide">
            <!-- Column labels -->
            <div class="your-seats-card-content-layout__row">
                <div *ngFor="let item of [].constructor(column); let columnIndex = index">
                    <ui5-label>
                        {{chars[columnIndex+columnLabelIndex[columnNumber]]}}
                    </ui5-label>
                </div>
            </div>
            <div *ngFor="let item of [].constructor(rows); let rowIndex = index"
                class="your-seats-card-content-layout__row">
                <div *ngFor="let item of [].constructor(column);let columnIndex = index">
                    <!-- Circle icons for seats -->
                    <ui5-icon
                        [class]="checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], availableSeats)? 'seat--available' : checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], yourSeats) ? 'seat--yours' : ''"
                        [name]="checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], availableSeats)? 'circle-task' : checkIfSeatMarked([rowIndex,columnIndex+columnLabelIndex[columnNumber]], yourSeats) ? 'sys-enter-2' : 'circle-task-2'"></ui5-icon>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let legendItem of legendItems">
        <app-legend-item [icon]="legendItem.icon" [color]="legendItem.color" [text]="legendItem.text"></app-legend-item>
    </div>
</section>