<div *ngIf="isDataAvailable" style="height: 100%">
    <ui5-wizard id="wiz">
      <ui5-wizard-step icon="travel-itinerary" title-text="Travel Destination" selected>
        <div style="display: flex; gap: 2rem;">
            <div style="display: flex; flex-direction: column; gap: 1rem;">
            <ui5-title>1. Destination</ui5-title>
                <div>
                    <ui5-input #CountryInput placeholder="Input a Country..." (ui5Input)="showSuggestions()" [(ngModel)]="countryInput"></ui5-input>
                    <ul fd-list>
                        <li fd-list-item *ngFor="let suggestion of suggestionItems" (click)="selectCountry(suggestion)">
                            {{suggestion}}
                        </li>
                    </ul>
                </div>
            </div>
            <fd-grid-list style="width: 100%;">
                @if (!this.countryInput) {
                    @for (item of CountryDetails | slice:0:8 ; track item) {
                        <fd-grid-list-item
                            [title]="item.name"
                            [description]="item.continent"
                        >
                        <fd-avatar fd-grid-list-item-image image={{item.flag}} size="s" [transparent]="true"></fd-avatar>
                        
                        <fd-grid-list-item-footer-bar> 
                          <ui5-button (ui5Click)="selectCountry(item.name)">Select</ui5-button>
                        </fd-grid-list-item-footer-bar>
                      
                      </fd-grid-list-item>
                    }
                } @else {
                    @for (item of CountryDetailsSuggested; track item) {
                        <fd-grid-list-item
                            [title]="item.name"
                            [description]="item.continent"
                        >
                        <fd-avatar fd-grid-list-item-image image={{item.flag}} size="s" [transparent]="true"></fd-avatar>
                        <fd-grid-list-item-footer-bar> 
                          <ui5-button (ui5Click)="selectCountry(item.name)">Select</ui5-button>
                        </fd-grid-list-item-footer-bar>
                        </fd-grid-list-item>
                    }
                }
                
            </fd-grid-list>
        </div>
      </ui5-wizard-step>
  
      <ui5-wizard-step icon="calendar" title-text="Vacation Days Picker">
        <div style="display: flex; gap: 3rem;">
            <div style="display: flex;flex-direction: column; gap: 1rem;">
                <ui5-title>2. Vacation Days</ui5-title>
                <ui5-daterange-picker></ui5-daterange-picker>
                <fd-calendar [rangeHoverEffect]="true" calType="range" [(ngModel)]="rangeDate"></fd-calendar>
              </div>
              <fd-grid-list selectionMode="singleSelectRight" (selectionChange)="changeDesiredPackage($event)">
                @for (package of randomPackageDeals; track package){
                  <fd-grid-list-item
                    [title]="package.country"
                    [value]="package.id"
                    [selected]="package.selected"
                    *ngIf="package.vacationStart.toDateString() != 'Invalid Date'"
                  >

                  <ng-template fd-grid-list-item-body>
                    <p>Start Date: {{package.vacationStart.toDateString()}}</p>
                    <p>End Date: {{package.vacationEnd.toDateString()}}</p>
                    <p>{{package.price}}$</p>
                  </ng-template>

                  </fd-grid-list-item>
                }
              </fd-grid-list>

        </div>
      </ui5-wizard-step>
  
      <ui5-wizard-step icon="information" title-text="Passengers & Final Price">
        <div style="display: flex; flex-direction: column;">
          <ui5-title>3. Passengers & Final Price</ui5-title>
          <br>
          <div fd-form-item style="width: 50%;">
            <label fd-form-label for="input-1">Add new Passenger</label>
            <input fd-form-control type="text" placeholder="Full Name"  aria-required="true" [(ngModel)]="passengerToAddName"/>
            <input fd-form-control type="text" placeholder="Address" aria-required="true" [(ngModel)]="passengerToAddAddress"/>
            <button fd-button type="submit" (click)="addPassenger()" style="width: 10%;">Add</button>
          </div>
          <br>
          <ul fd-list>
            
            @for (item of listOfPassengers; track item; let index = $index) {
              <li fd-list-item>
                <span fd-list-title>{{item.name}}</span>
                <span fd-list-secondary>
                  <button ariaLabel="Remove" title="Remove" fd-button glyph="delete" (click)="removeItem(index)"></button>
                </span>
              </li>
            }

          </ul>
        </div>
        <br>
        <div *ngIf="packageSelected">
          <ui5-message-strip design="Information" [hideCloseButton]="true">Total Price: {{listOfPassengers.length * packageSelected.price}}$</ui5-message-strip>
          <br>
          <ui5-button id="finalize" design="Emphasized">Finalize</ui5-button>
        </div>
      </ui5-wizard-step>
    </ui5-wizard>
  </div>