.section-title {
    padding-bottom: 1rem;
    font-weight: 900;
}

.cards {
    width: 100%;
    display: flex;
}

.cards__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cards__row {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.card--right {
    padding-left: 2rem;
}

.card--wide {
    width: 100%;
}

.card--top {
    padding-bottom: 2rem;
}

.card--bottom {
    @media screen and (min-width: 700px) {
        padding-top: 2rem;
    }

    @media screen and (max-width: 700px) {
        padding-top: 1.5rem;
    }
}

.calendar-card {
    @media screen and (min-width: 1400px) {
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    @media screen and (max-width: 1400px) {
        padding-right: 2rem;
        padding-bottom: 0;
    }
}

.calendar {
    display: flex;
    justify-content: center;
}

.calendar-card-content {
    padding-left: 1.5rem;
}

.footer-button {
    width: 62px;
}

.central-icon {
    margin: 0 auto;
}

.progress-bars {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.progress-bars__last {
    padding-bottom: 1.25rem;
}

.refresh {
    color: #0070F2;
}

.refresh-icon {
    padding-right: 10px;
}

.text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 4px;
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    @media screen and (max-width: 1440px) and (min-width: 650px) {
        align-items: center;
    }
}

.text-column--tall {
    padding-bottom: 2rem;
}

.large-text {
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0px;
    padding-right: 1.1rem;
}

.large-text--green {
    color: #256F3A;
}

.large-text--blue {
    color: #0070F2;
}

.flight-details__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 2rem;
}

.flight-details__content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.flight-details__content__text--right {
    align-items: flex-start;
    padding-left: 10%;
}

.flight-details__content__text--left {
    align-items: flex-end;
    padding-right: 10%;
}

.daily-flight {
    height: 50%;
}

.remove-padding {
    padding: 0 0 0 0 !important;
}

.flight-details-card {
    @media screen and (min-width: 1025px) {
        padding-bottom: 2rem;
    }
}

.passenger-details-card {
    height: fit-content;

    @media screen and (min-width: 1451px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @media screen and (max-width: 1450px) and (min-width: 600px) {
        padding-left: 0;
        padding-right: 2rem;
        padding-top: 1.5rem;
    }

    @media screen and (max-width: 600px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.5rem;
    }
}

.payment-details-card {
    @media screen and (min-width: 1450px) {
        padding-left: 2rem;
        padding-top: 2rem;
    }

    @media screen and (max-width: 1450px) {
        padding-left: 0;
        padding-top: 1.5rem;
    }
}

.flight-status-card {
    @media screen and (max-width: 1450px) and (min-width: 600px) {
        padding-top: 1.5rem;
    }

    @media screen and (max-width: 600px) {
        padding-top: 2rem;
    }
}

.your-seats-card {
    @media screen and (max-width: 1023px) {
        padding-right: 2rem;
    }

    @media screen and (max-width: 1450px) and (min-width: 1024px) {
        padding-top: 1.5rem;
    }

    @media screen and (max-width: 600px) {
        padding-top: 1.5rem;
        padding-right: 0;
    }
}