<ui5-dialog
  @fadeIn
  @fadeOut
  *ngIf="isUpgradeBaggageOpen"
  state="Information"
  [header-text]="'Confirmation' | ui5I18n"
  [open]="isUpgradeBaggageOpen"
  [accessible-name]="'Confirmation' | ui5I18n"
>
  <div class="box">
    <div>
      <ui5-label class="label__text" dissabled="true">Included</ui5-label>
      <ui5-list separators="None" class="full-width" [indent]="false">
        <ui5-li icon="message-success" disabled="true"
          >{{ numberOfPersonalItem }} x Personal items</ui5-li
        >
        <ui5-li icon="message-success" disabled="true"
          >{{ includedCarryOnItem }} x Carry-On items</ui5-li
        >
      </ui5-list>
    </div>
    <div>
      <ui5-label class="content__label">Add-On</ui5-label>
      <div class="button__area">
        <div class="added__border left__side">
          <ui5-button
            icon="less"
            design="Transparent"
            [disabled]="isCheckedissabled()"
            (ui5Click)="onCheckedInBaggageRemove()"
          ></ui5-button>
          <div class="number__text">
            <span>{{ numberOfCheckedInBaggage }}</span>
          </div>
          <ui5-button
            class="right__side"
            icon="add"
            design="Transparent"
            (ui5Click)="onCheckedInBaggageAdd()"
          ></ui5-button>
        </div>
        <div class="">
          <span class="info__text">Checked-Bags</span>
        </div>
      </div>
      <div class="button__area--last">
        <div class="left__side added__border">
          <ui5-button
            icon="less"
            design="Transparent"
            [disabled]="isCarryOnDissabled()"
            (ui5Click)="onCarryOnInItemRemove()"
          ></ui5-button>
          <div class="number__text">
            <span>{{ numberOfCarryOnItem - includedCarryOnItem }}</span>
          </div>
          <ui5-button
            class="right__side"
            icon="add"
            design="Transparent"
            (ui5Click)="onCarryOnInItemAdd()"
          ></ui5-button>
        </div>
        <div class="">
          <span class="info__text">Additional Carry-On</span>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog__footer" slot="footer">
    <ui5-button
      class="extra__padding_button"
      design="Emphasized"
      (ui5Click)="confirmUpgrade()"
      >{{ "OK" | ui5I18n }}</ui5-button
    >
    <ui5-button class="dialog__footer__button" (click)="exitUpgrade()">{{
      "CANCEL" | ui5I18n
    }}</ui5-button>
  </div>
</ui5-dialog>
