@import "node_modules/@fundamental-styles/common-css/dist/sass/common-mixins";

.center--text {
  // @include sap-position-inherit-center();
  justify-content: center;
  text-align: center;
  vertical-align: bottom;
}
.dialog__container {
  width: 550px;
  height: auto;
}

.dialog__footer {
  @include sap-display(flex);
  @include sap-flex-align-items(center);
  @include sap-flex-justify(end);
  width: 100%;
  box-sizing: border-box;
}

.dialog__footer__button {
  @include sap-margin(tiny, begin);
}

.container__label {
  @include sap-margin(tiny, bottom);
  @include sap-font-size(header-4);
  @include sap-font-family(bold);
  &--mid {
    @extend .container__label;
    @include sap-margin(small, top);
    @include sap-margin(small, bottom);
  }
}

.button__size {
  width: 1rem;
}

.button__container {
  @include sap-margin(small, bottom);
  &--last {
    @include sap-margin(medium, bottom);
  }
}

.info__text {
  @extend .center--text;
  @include sap-set-margin-top(20px);
  @include sap-set-margin-begin(15px);
  @include sap-font-size(large);
  line-height: 35px;
}