@import "node_modules/@fundamental-styles/common-css/dist/sass/common-mixins";

.payment-subheader {
  @include sap-margin(small, x);
  @include sap-margin(small, bottom);
  @include sap-set-margin-top(-0.5rem);
}

.payment-profile {
  @include sap-set-margin-x(1rem, 2rem);
  @include sap-set-margin-bottom(0.75rem);
  @include sap-display(flex);
  @include sap-flex(row);
  @include sap-flex-align-items(center);
  @include sap-flex-justify(space-around);
}

.payment-profile__text {
  width: 100%;
  @include sap-display(grid);
  @include sap-set-margin-begin(5%);
}

.card-details__header {
  @include sap-font-family(bold);
  @include sap-set-padding-bottom(0.5rem);
  @include sap-display(flex);
  @include sap-flex(row);
  @include sap-flex-align-items(center);
  @include sap-flex-justify(space-between);
  @include sap-border(1px, solid, var(--sapList_HeaderBorderColor), bottom);
}

.card-details__section--first {
  @include sap-set-margin-begin(0.75rem);
}

.card-details__long {
  width: 30%;
}

.card-details__long--segment {
  @include sap-set-margin-end(0.1rem);
}

.card-details__short {
  width: 20%;
}

.card-details__footer {
  @include sap-font-family(bold);
  @include sap-set-margin-y(0.5rem, 1rem);
  @include sap-display(flex);
  @include sap-flex(row);
  @include sap-flex-align-items(center);
  @include sap-flex-justify(space-between);
}
