<ui5-label class="payment-subheader">
    {{payment_day}}, {{payment_month}} {{payment_details.date.getDate()}},
    {{payment_hour}}:{{payment_minutes}}
</ui5-label>

<div class="payment-profile">
    <div slot="imageContent">
        <ui5-avatar initials="{{getInitials(payment_details.company)}}"></ui5-avatar>
    </div>
    <div class="payment-profile__text">
        <ui5-label>Company Name</ui5-label>
        {{payment_details.company}}
    </div>
</div>

<span class="hidden-at-tablet">
    <span class="card-details__header">
        <span class="card-details__section--first card-details__long">
            Payment Method
        </span>
        <span class="card-details__long">
            Card Number</span>
        <span class="card-details__short">
            CVV</span>
        <span class="card-details__short">
            Expiry Date
        </span>
    </span>

    <span class="card-details__footer hidden-at-tablet">
        <ui5-title level="H6"
            class="card-details__section--first card-details__long">{{payment_details.paymentMethod}}</ui5-title>
        <ui5-title level="H6" class="card-details__long">
            <span class="card-details__long--segment" *ngFor="let numbers of payment_details.cardNumber">
                {{numbers}}
            </span>
        </ui5-title>
        <ui5-title level="H6" class="card-details__short">{{payment_details.cvv}}</ui5-title>
        <ui5-title level="H6" class="card-details__short">
            {{payment_details.expiry.getFullYear()% 100}} / {{payment_details.expiry.getMonth()}}</ui5-title>
    </span>
</span>