@import "node_modules/@fundamental-styles/common-css/dist/sass/common-mixins";

.list {
    @include sap-display(grid);
    height: 100%;
}

.list__child {
    @include sap-display(flex);
    @include sap-flex(row);
    @include sap-flex-align-items(center);
    @include sap-flex-justify(space-around);
    @include sap-set-margin-x(1rem, 2rem);
    @include sap-set-margin-bottom(0.75rem);

    @include sap-media-range-width(600px, 650px) {
        @include sap-set-margin-bottom(1.5rem);
    }
}

.list__child__text {
    width: 100%;
    @include sap-display(grid);
    @include sap-set-margin-begin(5%);
}

.edit__footer{
    @include sap-display(flex);
    @include sap-flex-align-items(center);
    @include sap-flex-justify(end);
    width: 100%;
    box-sizing: border-box;

}

.box__down{
    margin-top: 50px;

}
.leftbox{
    text-align: center;
    float:left;
    top: 10%;
    left: 5%;
    position:absolute;
    width: 15%;
    height: 110%;
    background: rgb(43, 136, 180);
    box-shadow: 2px 5px 20px
    rgba(119,119,119,.5);
    ui5-avatar {
        margin-top: 20%;

    }
}
.rightbox{
    margin-top: 15px;
    width: 60%;
    margin-left: 25%;

    th{
        display: inline-block;
        margin-left: 40px;
        margin-right: 75px;
        margin-bottom: 20px;
    }
}

.full__list__content{
    margin-top: 5%;
    margin-left: 24%;
    margin-right: auto;
    width: 60%;
}

.item__space{
    margin-bottom: 35px;
}

.edit__footer__button {
    margin-right: 10px;
    @include sap-margin(tiny, begin);
}

.text__right{
    transform: rotate(-90deg);
    font-size: 35px;
    margin-top: 300px;
}